@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary-clr: #e63946;
  --color-priamary-clr-dark: #c72e3a;
  --color-secondary: #1d3557;
  --color-bg: #f8f9fa;
  --color-text: #111827;
}
/* @layer base {
  html {
    font-family: var(--font-poppins);
  }
} */

@layer utilities {
  .card-grid-layout {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4  gap-8 justify-center;
  }
  .section-container {
    @apply max-w-screen-2xl mx-auto px-4 py-20;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-90%);
  }
}

.animate-scroll {
  display: inline-flex;
  animation: scroll 20s linear infinite;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}
